<div class="timer-container">
  <div class="timer-block">
    <span class="timer-value">{{ timerValues.days }}</span>
    <span class="timer-label">Days</span>
  </div>
  <span class="timer-separator">:</span>
  <div class="timer-block">
    <span class="timer-value">{{ timerValues.hours }}</span>
    <span class="timer-label">Hours</span>
  </div>
  <span class="timer-separator">:</span>
  <div class="timer-block">
    <span class="timer-value">{{ timerValues.minutes }}</span>
    <span class="timer-label">Minutes</span>
  </div>
  <span class="timer-separator">:</span>
  <div class="timer-block">
    <span class="timer-value">{{ timerValues.seconds }}</span>
    <span class="timer-label">Seconds</span>
  </div>
</div>
