<section class="section">
  <div class="container services_container">
    <div class="service">
      <div class="icon-wrapper">
        <i class="fas fa-truck-fast service_icon"></i>
      </div>
      <h3 class="service_title">FREE AND FAST DELIVERY</h3>
      <p class="service_p">Free delivery for all orders over $140</p>
    </div>
    <div class="service">
      <div class="icon-wrapper">
        <i class="fas fa-headset service_icon"></i>
      </div>
      <h3 class="service_title">24/7 CUSTOMER SERVICE</h3>
      <p class="service_p">Friendly 24/7 customer support</p>
    </div>
    <div class="service">
      <div class="icon-wrapper">
        <i class="fas fa-shield-halved service_icon"></i>
      </div>
      <h3 class="service_title">MONEY BACK GUARANTEE</h3>
      <p class="service_p">We return money within 30 days</p>
    </div>
  </div>
</section>
