<nav class="nav">
  <div class="container nav_container">
    <a [routerLink]="['/']" class="nav_logo">EXCLUSIVE</a>
    <ul class="nav_list">
      <li class="nav_item" *ngFor="let item of navItems">
        <a
          [routerLink]="[item.path]"
          routerLinkActive="activate-link"
          class="nav_link"
        >
          {{ item.label }}
        </a>
      </li>
    </ul>
    <div class="nav_items">
      <app-search-bar></app-search-bar>
      <img src="assets/image/heart.png" alt="Wishlist" class="nav_heart" />
      <a [routerLink]="['/cart']" class="cart-icon-container">
        <img src="assets/image/cart.png" alt="Cart" class="nav_cart" />
        <ng-container *ngIf="cartCount$ | async as count">
          <span class="cart-count" *ngIf="count > 0">{{ count }}</span>
        </ng-container>
      </a>
    </div>
  </div>
</nav>
